
# 기상청 예보조회 api service key - VUE
VITE_SERVICE_KEY="받아온 인증키 등록"
# 기상청 예보조회 api service key - NODE
SERVICE_KEY="받아온 인증키 등록"

# OpenAI API Key
NCP_CLIENT_ID="받아온 ID 등록"
NCP_CLIENT_SECRET="받아온 비밀키 등록"

#Naver shopping API Key
NAVER_CLIENT_ID="받아온 ID 등록"
NAVER_CLIENT_SECRET="받아온 비밀키 등록"

# My URL
MY_BASE_URL="빌드시 실행될 IP와 PORT번호 입력"

# API Address
GENERATE_API_IP="이미지 생성 API 등록"
VL_API_IP="VL API 등록"

# My Build PORT NUMBER
LIVE_PORT="빌드시 실행될 PORT 번호 등록"
LIVE_HOST="라이브 호스트 IP지정 '0.0.0.0'"